body {
    padding: 0;
    margin: 0;   
}

.container {
    max-width: 1000px;
    padding: 0 2px;
    margin: 0 auto;
    border: 2px solid red;
}

header {
    background: url(../img/background.png) no-repeat center top / cover;
    height: 970px;
}

.navigation__list {
    display: flex;
    justify-content: flex-end;
}

.navigation__item {
    display: flex;
    flex-wrap: nowrap;
}

.title {
    display: flex;
    justify-content: center;
}

.info_block {
    display: flex;
    justify-content: center;
}

.button_menu {
    display: flex;
    justify-content: center;
}
.button {
    width: 200px; 
    height: 100px;
    background: #9CD6C0;
    border-radius: 100px/100px;
    }

.info_block {
   
}

  .excert_items {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

#news {
    background: url(../img/background2.png);
    height: 970px;
}